*.swp
*.pyc
/docs/_build/html
/docs/_build/man
/docs/_build/doctrees
/.mrsd
/bin/
/eggs/
/eggs-customized/
/src-mrsd/
/.installed.cfg
/develop-eggs/
/include/
/lib/
/src/mrs.developer.egg-info/
/parts/
