*.pyc
*.swp
/.installed.cfg
/.mrsd
/bin/
/develop-eggs/
/docs/_build/doctrees
/docs/_build/html
/docs/_build/man
/eggs-customized/
/eggs-mrsd/
/eggs/
/include/
/lib/
/parts/
/src-mrsd/
/src/mrs.developer.egg-info/
