*.pyc
*.swp
/.installed.cfg
/.mrsd
/bin/
/coverage/
/develop-eggs/
/docs/_build/doctrees
/docs/_build/html
/docs/_build/man
/docs/_build/pylint_mrsd.dot
/docs/_build/pylint_mrsd_external.dot
/docs/_build/pylint_mrsd_internal.dot
/eggs-customized/
/eggs-mrsd/
/eggs/
    
/include/
/lib/
/parts/
/src-mrsd/
/src/mrs.developer.egg-info/
